body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0 30% 3% 6%;
    padding: 0;
}

p {
    font-size: 1.2em;
    color: #333;
}

hr {
    border: none;
    border-top: 5px solid #333;
    color: #000000;
    height: 5px;
}

h1{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
    Color: #5BB36C;
}

.address {
    font-size: 1.2em;
    margin-bottom: 10px; /* Ahora funcionará correctamente */
}

.name{
    color: #206BC4;
    font-weight: bold;
}

/* Colocar los dos links uno encima de otro */
.redes a {
    display: block;
    margin-bottom: 10px;
}
